<nav class="navbar">
  <div class="nav-left">
    <a class="brand" routerLink="/home">Midterm</a>
  </div>

  <ul class="nav-links">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
    <li><a routerLink="/suppliers" routerLinkActive="active">Suppliers</a></li>

    <li class="dropdown">
      <button class="dropbtn" type="button" (click)="toggleDropdown()">
        Data Binding <span class="caret" [class.open]="isDropdownOpen">▾</span>
      </button>

      <ul class="dropdown-menu" [class.show]="isDropdownOpen">
        <li>
          <a routerLink="/databinding/interpolation" routerLinkActive="active"
             (click)="closeDropdown()">Interpolation</a>
        </li>
        <li>
          <a routerLink="/databinding/property" routerLinkActive="active"
             (click)="closeDropdown()">Property Binding</a>
        </li>
        <li>
          <a routerLink="/databinding/event" routerLinkActive="active"
             (click)="closeDropdown()">Event Binding</a>
        </li>
        <li>
          <a routerLink="/databinding/two-way" routerLinkActive="active"
             (click)="closeDropdown()">Two-Way Binding</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>